rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /collectedIngredients/{ingredientId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      match /forageAttempts/{attemptId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      match /recipes/{recipeId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      match /createdPotions/{potionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}

